.header {
  height: 48px;
  display: flex;
  border-bottom: 1px solid var(--base-border-color);
  background: var(--base-alt-bg-color);

  > a {
    width: 100%;
    display: block;
    margin: 0;
    text-align: left;
    width: 25%;
    text-decoration: none;
    flex-grow: 1;
    font-weight: 600;
    > img {
      height: 67%;
      margin: 10px;
    }
  }

  .nav-views {
    text-align: right;
    margin-right: 10px;
    button {
      background: transparent;
      border: none;
      padding: 15px 3px;
    }
    img {
      width: 20px;
      height: 20px;
      fill: rgba(215, 218, 220, 0.2);
    }
  }

  .nav-bar {
    text-align: right;
    border-left: 1px solid var(--separator-color);
    padding: 8px 7px 7px;
  }

  .router-link {
    display: inline-flex;
    padding: 7px 20px;
    margin: 0 7px;
    text-decoration: none;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid var(--base-font-color);
    color: var(--base-font-color);
    font-size: 11px;
    letter-spacing: -0.05em;

    &:active,
    &.active {
      font-weight: bold;
      background: var(--base-font-color);
      color: var(--base-bg-color);
    }
  }
}

@media (max-width: 576px) {
  .header {
    flex-wrap: wrap;
    height: auto;
    > a > img {
      height: 32px;
    }

    .nav-bar {
      flex-basis: 100%;
      text-align: center;
      border-top: 1px solid var(--separator-color);
    }
  }
}
