h2 {
  font-size: 14px;
}
.list-page {
  max-width: 800px;
  margin: 0 auto;

  &.mode-classic,
  &.mode-compact {
    margin: 0 20px;
    max-width: unset;
  }
}

@media (max-width: 576px) {
  .list-page {
    margin: 0 10px;
  }
}
